<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
    1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>ADD DECK</title>
</head>
    <body>
        <nav class="navbar navbar-dark bg-dark md-5">
        <h2 class="navbar-brand mx-4">FLASHCARD APP</h2>
        <a class="btn btn-outline-light my-2 my-sm-0" href="/">LOG OUT</a>
        </nav>
        <h1 class="pt-3 pb-3 mx-2">ADD DECK</h1>
        <form method="POST" class="container">
            <div class="form-group">
                <label class="pt-2">Deck Name</label>
                <input type="text" class="form-control" placeholder="Deck Name" name="deck_name" required> 
            </div>
            <div class="form-group pb-3">
            <label class="pt-3 ">Description</label>
            <input type="text" class="form-control" placeholder="Enter a Description on the Deck" name="description">
            </div>
            <button type="submit" class="btn btn-primary ">Submit</button>
            <h5 class="text-danger mb-3">{{error}}</h5>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-
        ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>